@font-face {
    font-family: 'FeuraSans-Medium';
    src: url('FeuraSans-Medium.eot'); /* IE9 Compat Modes */
    src: url('FeuraSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FeuraSans-Medium.woff') format('woff'), /* Modern Browsers */
         url('FeuraSans-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('FeuraSans-Medium.svg#svgFontName') format('svg');  /* Legacy iOS */
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #fff;
    font: normal 10px "FeuraSans-Medium", sans-serif;
}

#index {
    height: 100%;
}

#detailsIframe {
    display: none;
    height: 0px;
    width: 0px;
}

.overlay {
    z-index: 1031;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: -30px;
}

.overlaycontrol > img {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    position: fixed;
    top: 50%;
    left: 50%;
}

.centerblock {
    text-align: center;
}

.centerblock:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.cover {
    width: 240px;
    height: 240px;
    display: inline-block;
  vertical-align: middle;
  width: 240px;
}

.dl-horizontal dt {
    width: auto !important;
}

.dl-horizontal dd {
    margin-left: 5rem;
    line-height: 4rem;
}

.details {
    margin-top: 15px;
}

/*
EXTENSIONS
*/

.icon.icon-settings {
    background-image: url(../images/settings.png) !important;
    margin-top: -1.5rem !important;
}

.icon.icon-reload {
    background-image: url(../images/reload.png) !important;
    margin-top: -1.5rem !important;
}

section[role="region"] > header:first-child .icon.icon-repeat_false {
    background-image: url(../images/repeat_off.png);
}

section[role="region"] > header:first-child .icon.icon-repeat_true {
    background-image: url(../images/repeat_on.png);
}

.icon-dropbox {
    background-image: url(../images/dropbox.png);
    background-position: center center;
}

.icon-other {
    background-image: url(../images/browser.png);
    background-position: center center;
}

/*
FIXES
*/

.btn {
    width: auto;
    margin-bottom: 1rem;
}

.mediaurl-legend {
    width: 13rem;
}

.mediaurl-section {
    margin-left: 13rem;
}

.modal {
    margin-left: -15rem !important;
    width: 30rem !important;
}

.modal .modal-body {
    max-height: 26rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.progress {
    border-radius: 0px 0px 0px 0px;
    display: inline-block;
    vertical-align: middle;
    width: 240px;
    height: 5px;
}

.progress-success .bar, .progress .bar-success {
    background-color: #171717;
    background-image: -moz-linear-gradient(center top , #1F1F1F, #0B0B0B);
    background-repeat: repeat-x;
}

.progress-success .bar, .progress .bar-info {
    background-color: #999999;
    background-image: -moz-linear-gradient(center top , #999999, #888888);
    background-repeat: repeat-x;
}
