<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>DinoPlayer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/shared/transitions.css">
        <link rel="stylesheet" href="styles/shared/util.css">
        <link rel="stylesheet" href="styles/shared/cross_browser.css">
        <link rel="stylesheet" href="bower_components/slider/css/slider.css">

        <!-- endbuild -->
        <link rel="stylesheet" href="styles/shared/style/headers.css">
        <link rel="stylesheet" href="styles/shared/style_unstable/drawer.css">
        <link rel="stylesheet" href="styles/shared/style_unstable/lists.css">
        <link rel="stylesheet" href="styles/shared/style/status.css">
        <link rel="stylesheet" href="styles/shared/style_unstable/progress_activity.css">

</head>
  <body ng-app="dinoplayerApp" ng-controller="MainCtrl" hm-swipe-left="nextTrack()" hm-swipe-right="previousTrack()">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <section id="index" data-position="current" ng-init="init()">
        <section data-type="sidebar">
            <header>
                <menu type="toolbar">
                    <a ng-click="reloadPlaylist()"><span class="icon icon-reload">reload</span></a>
                    <a ng-click="openSettings()"><span class="icon icon-settings">settings</span></a>
                    <a href="#">OK</a>
                </menu>
                <h1>{{ 'MENU' | translate }}</h1>
            </header>
            <nav>
                <h2>{{ 'PLAYLIST' | translate }}</h2>
                <ul ng-repeat="track in playlist">
                    <li ng-click="backToPlayer($index)"><a href="#">{{track.filename}}</a></li>
                </ul>
            </nav>
        </section>

        <section id="drawer" class="skin-dark" role="region">
            <header class="fixed">
                <a href="#"><span class="icon icon-menu">hide sidebar</span></a>
                <a href="#drawer"><span class="icon icon-menu">show sidebar</span></a>
                <menu type="toolbar">
                    <a ng-click="toggleRepeat()"><span class="icon icon-repeat_{{repeatTrack}}">repeat</span></a>
                </menu>
                <h1>DinoPlayer</h1>
                <progress_loading ng-show="requestCounter > 0" max="100" value="0" class="pack-activity"></progress_loading>
            </header>

            <article class="content scrollable header" ng-click="showControl()">
                <overlay-controller id="overlayController" class="hide"></overlay-controller>
                <div class="settings hide" modal="isSettingsVisible!=undefined && isSettingsVisible" close="closeSettings(false)" options="settingsOptions">
                    <div class="modal-header">
                        <h3>{{ 'SETTINGS' | translate }}</h3>
                    </div>
                    <div class="modal-body">
                        <span class="label label-important">{{ 'WARNING' | translate }}</span>
                        {{ 'WARNING_MSG' | translate }} <a href="http://dinoplayer.herokuapp.com" target="_blank">DinoPlayer Helper</a> {{ 'WARNING_MSG2' | translate }}<br/><br/>
                        {{ 'SERVICE_SELECT' | translate }} <br/>
                        <button class="btn btn-small" ng-class="{active: settings.service == 'dropbox'}" ng-click="setService('dropbox')"><i class="icon-dropbox"></i> Dropbox</button> <br/>
                        <button class="btn btn-small" ng-class="{active: settings.service == 'other'}" ng-click="setService('other')"><i class="icon-other"></i> {{ 'SERVICE_OTHER' | translate }}</button> <br/>

                        <span ng-show="settings.service != undefined">
                            {{ 'MEDIA_SELECT' | translate }}
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="{{ 'MEDIAURL' | translate }}" ng-model="settings.mediaurl">
                            </div>
                        </span>

                        <h2>{{ 'HELP' | translate }}</h2>
                        <dl class="dl-horizontal">
                            <dt><img alt="playPause" src="images/tap.png" /></dt>
                            <dd>{{ 'HELP_PLAYPAUSE' | translate }}</dd>
                            <dt><img alt="nextTrack" src="images/swipe-left.png" /></dt>
                            <dd>{{ 'HELP_NEXTTRACK' | translate }}</dd>
                            <dt><img alt="previousTrack" src="images/swipe-right.png" /></dt>
                            <dd>{{ 'HELP_PREVIOUSTRACK' | translate }}</dd>
                        </dl>
                    </div>
                    <div class="modal-footer">
                        <button class="btn cancel" ng-click="closeSettings(true)">{{ 'SAVE' | translate }}</button>
                    </div>
                </div>
                <div class="text-center" ng-view=""></div>
            </article>
        </section>
    </section>

    <section class="invisible" role="status">
    </section>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/status.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/filters/timeFilter.js"></script>
    <script src="scripts/directives/myFrame.js"></script>
    <script src="scripts/directives/overlayController.js"></script>
    <script src="scripts/directives/details.js"></script>
    <script src="scripts/filters/titleFilter.js"></script>
    <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/bootstrap-custom/ui-bootstrap-custom-tpls-0.5.0.min.js"></script>
        <script src="bower_components/angular-gestures/gestures.min.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/angular-translate-interpolation-default/angular-translate-interpolation-default.js"></script>
        <script src="bower_components/slider/js/bootstrap-slider.js"></script>
        <script src="scripts/directives/volumeslider.js"></script>
        <script src="scripts/directives/eatClick.js"></script>
        <!-- endbuild -->
</body>
</html>
