<img alt="logo" src="images/logo64.png" class="logo"/>
<br/>
<h1>DinoPlayer</h1>
<p>{{ 'VERSION' | translate }} 1.3 (2013-11-29)</p>

<span class="text-left textBlock">
    <section data-type="list">
        <header>{{ 'INFORMATION' | translate }}</header>
    </section>
    <br/>
    <p class="lead">Simple HTM5 streaming music player using cloud storages</p>

    <h2>Features:</h2>
    <ul>
        <li>+ Listening to music, without copying tracks to the phone</li>
        <li>+ Full touchscreen-based control</li>
        <li>+ Track details recognition (using ID3 tags)</li>
        <li>+ Automatic album cover art search</li>
    </ul>

    <br/>
    <p>It is designed as a touchscreen-based music player, that can play music from many cloud storages (without using their APIs). You can control the player with gestures. To play or pause music simply tap the screen, for changing tracks swipe it.</p>

    <section data-type="list" class="textBlock">
        <header>{{ 'CREATEDBY' | translate }}</header>
    </section>
    <br/>
    <p>Milán Unicsovics</p>
    <dl>
        <dt>Twitter</dt>
        <dd><a href="https://twitter.com/thesn4pdragon">@thesn4pdragon</a></dd>

        <dt>GitHub</dt>
        <dd><a href="https://github.com/thesnapdragon/dinoplayer">thesnapdragon</a></dd>
    </dl>

    <section data-type="list" class="textBlock">
        <header>{{ 'CHANGELOG' | translate }}</header>
    </section>

    <h4>1.0</h4>
    <ul>
    <li>* Initial release</li>
    </ul>

    <h4>1.1</h4>
    <ul>
    <li>* Little bugfixes</li>
    </ul>

    <h4>1.2</h4>
    <ul>
    <li>* Warning message about necessary DinoPlayer Helper</li>
    <li>* New backend + official site</li>
    </ul>

    <h4>1.3</h4>
    <ul>
    <li>* Other web storage option added to services</li>
    <li>* Repeat song feature added</li>
    <li>* Loading progressbar added</li>
    <li>* New play progressbar</li>
    <li>* Settings menu has new design</li>
    <li>* Reload playlist & settings button moved to menu</li>
    <li>* Cover display is responsive</li>
    <li>* Minor bugfix after changing cloud storage</li>
    </ul>

    <section data-type="list" class="textBlock">
        <header>{{ 'LICENCE' | translate }}</header>
    </section>
    <br/>
    <p>
        This program is free software; you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation; either version 2 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program; if not, write to the Free Software
        Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
        MA 02110-1301, USA.
    </p>
</span>
