<span class="text-left textBlock">
    <section data-type="list">
        <header>{{ 'HOWTO' | translate }}</header>
    </section>
    <ul>
    <li>1. {{ 'INSTRUCTION1' | translate }}</li>
    <li>2. {{ 'INSTRUCTION2' | translate }} (<a href="http://dinoplayer.herokuapp.com/">{{ 'READMORE' | translate }}</a>)!</li>
    <li>3. {{ 'INSTRUCTION3' | translate }}</li>
    <li>4. {{ 'INSTRUCTION4' | translate }}</li>
    <li>5. {{ 'INSTRUCTION5' | translate }}</li>
    </ul>

    <section data-type="list">
        <header>{{ 'MUSICFOLDER_EXAMPLES' | translate }}</header>
    </section>

    <h4>Dropbox</h4>
    TODO

    <h4>{{ 'SERVICE_OTHER' | translate }}</h4>
    TODO

</span>
