<span class="textBlock">
    <section data-type="list">
        <header>{{ 'HOWTO' | translate }}</header>
    </section>
    <ul>
    <li>1. {{ 'INSTRUCTION1' | translate }}</li>
    <li>2. {{ 'INSTRUCTION2' | translate }} (<a href="http://dinoplayer.herokuapp.com/">{{ 'READMORE' | translate }}</a>)!</li>
    <li>3. {{ 'INSTRUCTION3' | translate }}</li>
    <li>4. {{ 'INSTRUCTION4' | translate }}</li>
    <li>5. {{ 'INSTRUCTION5' | translate }}</li>
    </ul>

    <section data-type="list">
        <header>{{ 'MUSICFOLDER_EXAMPLES' | translate }}</header>
    </section>

    <h4>Dropbox</h4>
    <p>{{ 'EXAMPLE_DROPBOX' | translate }}</p>
    <pre>2920832/WaitWhat</pre>


    <h4>{{ 'SERVICE_OTHER' | translate }}</h4>
    <p>{{ 'EXAMPLE_SERVICE_OTHER' | translate }}</p>
    <pre>https://dl.dropboxusercontent.com/u/2920832/WaitWhat</pre>

</span>
